.resume-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section {
  height: 20vw;
  width: 28vw;
  min-width: 350px;
  font-family: 'Lato', sans-serif;
  font-size: 1.2vw;
  text-align: left;
  border-radius: 20px;
  border-style: groove;
  border-color: darkgreen;
  margin: 1em 0.2vw 0 0.2vw;
  box-shadow: 8px 10px  rgba(0, 10, 0, 0.1);
  padding: 0.5em 1em 0.5em 1em;
}
.wider {
  width: 45vw;
  height: 35vw;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;


}
::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}

.contact-box {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.section i {
  width: 20px;
  margin-right: 20px;
  text-align: left;
  padding: 0;
}
.section h3 {
  margin: 10px;
}
.contact-cent {
  text-align: center;
  margin: 0.2em 0 0 0;
  text-shadow: 5px 5px 15px darkgreen;
  color: burlywood;
}

.heading {
  text-align: center;
  margin: 0;
  color: burlywood;
}

.sub-heading {
  color: peru;
  border-bottom: 2px solid darkgreen;
  margin: 0.5em 5vw 0.3em 1.5vw;
  font-size: 110%;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;

}
.skill-item {
  background-color: maroon;
  color: black;
  font-weight: 700;
  margin: 0.2em;
  padding: 0.2em 0.2em 0 0.2em;
  border-radius: 0.2em;
  font-size: 80%;
}
.right-side {
  float: right;
  font-size: 70%;
}
.sub-sub-heading {
  margin: 0.5em 3vw 0.3em 1vw;
  color: peru;
}
.res-description {
  margin: 0;
}

.exp-hr {
  border-color: darkgreen;
  margin-bottom: 1.5em;
}

.printable {
  font-weight: 700;
  background-color: #253824;
  padding: 0.3em;
  border-radius: 5px;
  font-size: 80%;
  color: navajowhite;
}
.printable:hover {
  color: peru;
}