.App {
  text-align: center;
  background-color: #253824;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: bisque;
}
button:focus {
  outline:0;
}

.top-bar {
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  background-color: darkgreen;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
.my-name {
  position: absolute;
  left: 1vw;
  font-size: 130%;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.25vw;
}
.App-link {
  color: #61dafb;
}

.active-tab {
  width: 25%;
  height: 100%;
  border-style: none;
  background-color: #003300;
  color: peru;
  font-weight: 700;
  font-size: 120%;
  background-image: -webkit-radial-gradient(circle, black, darkgreen);
  -webkit-transition: 1.5s all;
  -ms-transition: 1.5s all;
  transition: 1.5s all;
}

.inactive-tab {
  width: 25%;
  height: 100%;
  border-style: none;
  background-color: darkgreen;
  color: peru;
  font-weight: 700;
  font-size: 120%;
  -webkit-transition: 1.5s all;
  -ms-transition: 1.5s all;
  transition: 1.5s all;
}

.inactive-tab:hover {
text-shadow: 5px 5px 15px black;
}
a:link, a:visited { 
  color: bisque; 
  text-decoration: none;
}
@import './resume/resume.css';
@import './portfolio/portfolio.css';
