* {
  scrollbar-width: none
}
a {
  outline: 0;
}
.App {
  text-align: center;
  background-color: #a0c5d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: #223843;
}
button:focus {
  outline:0;
}
div:focus {
  outline: 0;
}

.top-bar {
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #223843;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
.my-name {
  position: absolute;
  left: 1vw;
  font-size: 130%;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.25vw;
  color: #edf0f2;
}
.active-tab {
  width: 25%;
  height: 100%;
  border-style: none;
  background-color: black;
  color: #60aed6;
  font-weight: 700;
  font-size: 120%;
  background-image: -webkit-radial-gradient(circle, black, #223843);
  -webkit-transition: 1s all;
  -ms-transition: 1s all;
  transition: 1s all;
}

.inactive-tab {
  width: 25%;
  height: 100%;
  border-style: none;
  background-color: #223843;
  color: #60aed6;
  font-weight: 700;
  font-size: 120%;
  -webkit-transition: 1s all;
  -ms-transition: 1s all;
  transition: 1s all;
}

.inactive-tab:hover {
text-shadow: 1px 1px 5px #a0c5d8;
}
a:link, a:visited  { 
  color: #223843; 
  text-decoration: none;
}
@import './resume/resume.css';
@import './portfolio/portfolio.css';
